/* imports */

/* color definitions */
@primaryColor: #65b32e;
@secondaryColor: #5b9b1e;
@darkGrey: #333;
@normalGrey: #4a4a4a;
@greyBlue: #293d4f;

/* imports */
@import url("globals.less");

/* color definitions */
@primaryColor: #65b32e;
@secondaryColor: #5b9b1e;
@darkGrey: #333;
@normalGrey: #4a4a4a;
@greyBlue: #293d4f;

/*
@media @devices-sm {
    body {
        background-color: red;
    }   
}

@media @devices-md {
    body {
        background-color: blue;
    }   
}
    
@media @devices-lg {
    body {
        background-color: violet;
    }   
}
    
@media @devices-xl {
    body {
        background-color: gold;
    }   
}

@media @devices-xxl {
    body {
        background-color: mediumaquamarine;
    }   
}
*/

