/* imports */
/* color definitions */
/* imports */
/* color definitions */
/*
@media @devices-sm {
    body {
        background-color: red;
    }   
}

@media @devices-md {
    body {
        background-color: blue;
    }   
}
    
@media @devices-lg {
    body {
        background-color: violet;
    }   
}
    
@media @devices-xl {
    body {
        background-color: gold;
    }   
}

@media @devices-xxl {
    body {
        background-color: mediumaquamarine;
    }   
}
*/
