<cfoutput>
    <footer class="container py-5">
        <div class="row">
        <div class="col-12 col-md">
            <i class="bi bi-bootstrap-fill" style="font-size:4rem;color:##000;"></i>
            <small class="d-block mb-3 text-muted">&copy; #year(now())#</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="">Cool stuff</a></li>
            <li><a class="link-secondary" href="">Random feature</a></li>
            <li><a class="link-secondary" href="">Team feature</a></li>
            <li><a class="link-secondary" href="">Stuff for developers</a></li>
            <li><a class="link-secondary" href="">Another one</a></li>
            <li><a class="link-secondary" href="">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="">Resource name</a></li>
            <li><a class="link-secondary" href="">Resource</a></li>
            <li><a class="link-secondary" href="">Another resource</a></li>
            <li><a class="link-secondary" href="">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="">Business</a></li>
            <li><a class="link-secondary" href="">Education</a></li>
            <li><a class="link-secondary" href="">Government</a></li>
            <li><a class="link-secondary" href="">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="">Team</a></li>
            <li><a class="link-secondary" href="">Locations</a></li>
            <li><a class="link-secondary" href="">Privacy</a></li>
            <li><a class="link-secondary" href="">Terms</a></li>
            </ul>
        </div>
        </div>
    </footer>
</cfoutput>